// Fontfaces
@font-face {
  font-family: DINNextLTPro;
  src: url("/static/fonts/DINNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: DINNextLTPro;
  font-weight: 500;
  src: url("/static/fonts/DINNextLTPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: DINNextLTPro;
  font-weight: 900;
  src: url("/static/fonts/DINNextLTPro-Heavy.otf") format("opentype");
}

@font-face {
  font-family: DINNextLTPro;
  font-weight: 300;
  src: url("/static/fonts/DINNextLTPro-Light.otf") format("opentype");
}
