.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 65px);

  > .button {
    max-width: 50%;
    cursor: pointer;
    display: inline-block;
  }
}
