.top-navbar {
  height: 65px;
  background-color: #2196f3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 1;

  > .container {
    > .logo {
      font-family: DINNextLTPro;
      line-height: 65px;
      font-size: 29px;
      color: #ffffff;
      font-weight: 300;
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+/Edge */
      user-select: none; /* Standard */
      display: inline-block;

      span {
        font-weight: 500;
      }
    }

    > .avatar {
      display: inline-block;
      position: relative;
      float: right;

      > .image {
        border-radius: 18px;
        border: 1px solid white;
        overflow: hidden;
        top: 15px;
        position: relative;
        height: 36px;
        width: 36px;
        background-size: contain;
      }
    }
  }
}
